@charset "ISO-8859-1";

body {
	margin: 0rem;
	padding: 0rem;
	cursor: pointer;
	overflow: hidden;
}
.main_left {
	width: 58%;
}
#index_main {
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.hide {
	display: none;
}
.block {
	display: block;
}
#main_page {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.main_header {
	display: flex;
	flex-direction: row;
	height: 8.8%;
}
hr.new2 {
	border-bottom: 1px solid rgb(209, 209, 209);
	margin: -0.5rem 1rem 0rem 7rem;
}
.header {
	margin: 0.3rem 0.5rem 0rem 0.9rem;
	padding-bottom: 0rem;
}
.main_logo {
	height: 3rem;
	width: 3rem;
	margin-left: 2rem;
	padding: 0.9rem 1.5rem 0rem 1.5rem;
}
.main_header a {
	text-decoration: none;
}
.main_header p {
	font-size: 1.3rem;
	padding: 1rem 1.5rem 0rem 1.5rem;
	margin: 0.5rem 0rem 0.8rem 0rem;
	color: rgb(27, 25, 25);
}
.left_img {
	width: 32rem;
	height: 30rem;
	margin: 4rem 2rem 1rem 12rem;
}
.media a {
	text-decoration: none;
	color: #000;
}
.left_para {
	text-align: justify;
	margin: 1rem 19rem 1rem 14rem;
	letter-spacing: 0.1rem;
	font-size: 1.1rem;
}
.media {
	margin: 3rem 10rem 3rem 13rem;
}
.media span {
	padding: 1rem;
	font-weight: bold;
	font-size: medium;
}
.media span p {
	display: inline;
	margin-left: 1.5rem;
	padding-left: 1.5rem;
}
.main_right {
	width: 100%;
}
.right_img {
	width: 37.5rem;
	height: 40rem;
	margin-bottom: -0.3rem;
}
.main_img {
	box-shadow: -46px 250px 0px 0px rgba(217, 217, 217, 0.66);
}
#btn {
	background-color: transparent;
	color: black;
	border-color: transparent;
	font-size: 1.5rem;
	float: right;
	margin: 0.5rem 6rem 2rem 1rem;
}
#btn img {
	width: 2rem;
	height: 1rem;
	padding-left: 1rem;
}
hr.new1 {
	border-top: 1px solid rgb(20, 19, 19);
	margin: 3.5rem 3rem 2rem 1rem;
	width: 80%;
}
.right_para {
	margin: 0rem 2rem 0rem 2rem;
	letter-spacing: 0.1rem;
}
.para_right {
	text-transform: none;
	font-size: 20px;
	letter-spacing: 1.5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0rem 2rem 1rem 2rem;
}
.header_para {
	display: inline-block;
	position: relative;
	color: #000;
}
.header_para:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1.6px;
	top: 3.4rem;
	left: 0;
	background-color: #000;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.header_para:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}


